@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');

html, 
body,
#root,
.app{
  width: 100%;
  height: 100%;
  font-family: "Rubik", sans-serif;
}